body {
  img:hover {
    animation: none;
  }

  h1 {
	font-size: 72px;
  }

  .btn-primary {
	color: #ff0000;
    border: 3px solid #ff0000;
	background: inherit;
  }

  color: #000;

}

.hero {
  padding: 7em 0 0em;

  h1 {
    margin-bottom: 25px;
    font-weight: 400;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

  .right {
    font-size: 200px;
    text-align: center;
  }
}

.customers {
	padding: 8em 0 8em 0;
	min-height: 500px;

	p {
		color: #9B9B9B;
	}

	h2 {
		padding-bottom: 1em;
	}

	h3, p {
		padding-bottom: 0.5em;
	}

}

.topics {
  padding: 8em 0 7em 0;
  background: #F6F6F6;

  .card {
	text-align: center;
    width: 15em;
    padding-top: 0;
    margin-left: 2.5em;
    margin-bottom: 1.5em;
    border: 2px solid rgba(0, 0, 0, 0.05);
  }

  .card:hover {
    animation: pulse 0.5s;
		.card-head {
			background: #D20005;
		}
  }

  .card-head {
	height: 175px;
	background: #FB3237;

	> img {
		padding-top: 2.5em;
	}
  }

  .card-head#cloudops, .card-head#serverless {
	> img {
		padding-top: 4em;
	}
  }

  .card-body {
	padding-bottom: 1.25rem;
  }

  h3 {
	font-size: 20px;
  }

  a,
  a:hover {
    color: inherit;
  }
}

.footer {
  background: #e8e8e55c;
  width: 100%;
  padding-bottom: 5em;

  p {
	font-size: 10px;
  }

  ul {
    list-style-type: none;
  }

  .icons {
    margin-bottom: 5em;
  }

  hr {
	margin: 3em 0 3em 0;
    width: 100%;
	border: 2px solid black;
  }

}

.content {

  > .container {
    min-height: 60em;
  }

  .menu {
    ul {
      list-style: none;

      li {
        padding: 0 0 1em 0;
        font-size: 22px;
      }
    }

	a { color: black; }
	a:hover { color: #ff0000; }

    background: #F5F5F5;
    padding: 2em;
  }

  .post-hero {
    height: 413px;
    background: #FFC8C8;
  }

  .page-content {
    margin-top: 2em;

    h2,
    h3 {
      margin: 2em 0 2em 0;
    }
  }

  .post {
    margin-top: 2em;
  }
}
