.navbar {
  height: 48px;
  background: linear-gradient(90deg, #FF0000 51%, #FFFFFF 50%);
  .oracle {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
  }

  .logo {
    font-size: 25px;
    margin-right: 10px;
    color: #fff;

    img {
      margin-bottom: 0;
    }
  }
  .signup {
    color: #fff;
  }
}
