.hero {
  background: linear-gradient(#fc0000, #dc281e);
  padding: 5em 0 5em;
  color: #fff;

  h1 {
    font-size: 48px;
    margin-bottom: 25px;
  }

  .right {
    font-size: 200px;
    text-align: center;
  }
}
